<%- include('../../partials/messages') %>

<form action="<%= url %>" method="POST">

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="name">Nome</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="transport[name]"
            id="name"
            placeholder="Insira um nome"
            value="<%= typeof transport.name != 'undefined' ? transport.name : '' %>"
            autofocus
            autocomplete="off"
            required
          />
          <% if (transport.errors && transport.errors.hasOwnProperty('name')) { %>
            <p class="is-danger help"><%= transport.errors.name %></p>
          <% } %>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <label class="label" for="driver">Motorista</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="transport[driver]"
            id="driver"
            placeholder="Insira o motorista"
            value="<%= typeof transport.driver != 'undefined' ? transport.driver : '' %>"
            autocomplete="off"
            required
          />
          <% if (transport.errors && transport.errors.hasOwnProperty('driver')) { %>
            <p class="is-danger help"><%= transport.errors.driver %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="info" class="label">Informações Adicionais</label>
    <div class="control">
      <textarea
        class="textarea"
        type="text"
        name="transport[info]"
        id="info"
        placeholder="Insira outras informações adicionais"
      ><%= typeof transport.info != 'undefined' ? transport.info : '' %></textarea>

      <% if (transport.errors && transport.errors.hasOwnProperty('info')) { %>
        <p class="is-danger help"><%= transport.errors.info %></p>
      <% } %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-success" type="submit">Salvar</button>
      <a href="/admin/transports" class="button">Voltar</a>
    </div>
  </div>

</form>
