<%- include('../../layouts/header') %>

  <section class="section">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="is-flex is-align-items-center is-justify-content-space-between">
            <h1 class="title size-4 mb-0">Transportes</h1>
            <a href="/admin/transports/create" class="button is-link">Novo Transporte</a>
          </div>

          <hr>

          <%- include('../../partials/messages') %>
            <table class="table">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Motorista</th>
                  <th colspan="3">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% transports.forEach(transport=> { %>
                  <tr>
                    <td>
                      <%= transport.name %>
                    </td>
                    <td>
                      <%= transport.driver %>
                    </td>
                    <td>
                      <a class="modal-toggler" data-target="showTransport_<%= transport._id %>">
                        Exibir
                      </a>
                    </td>
                    <td>
                      <a href="/admin/transports/<%= transport._id %>/edit">Editar</a>
                    </td>
                    <td>
                      <a class="has-text-danger modal-toggler" data-target="deleteModalTransport_<%= transport._id %>">
                        Excluir
                      </a>
                    </td>
                  </tr>

                  <div id="showTransport_<%= transport._id %>" class="modal">
                    <div class="modal-background modal-toggler" data-target="showTransport_<%= transport._id %>"></div>
                    <div class="modal-content">
                      <div class="card">
                        <div class="card-content">
                          <div class="columns">
                            <div class="column is-half">
                              <h4 class="title is-4">Nome</h4>
                              <h6 class="subtitle">
                                <%= transport.name %>
                              </h6>
                            </div>
                            <div class="column is-half">
                              <h4 class="title is-4">Motorista</h4>
                              <h6 class="subtitle">
                                <%= transport.driver %>
                              </h6>
                            </div>
                          </div>
                          <div class="field">
                            <h4 class="title is-4">Informações Adicionais</h4>
                            <h6 class="subtitle">
                              <%= transport.info %>
                            </h6>
                          </div>

                          <div class="buttons">
                            <a href="/admin/transports/<%= transport._id %>/edit" class="button is-link">Editar</a>
                            <button class="button modal-toggler" type="button"
                              data-target="showTransport_<%= transport._id %>">
                              Fechar
                            </button>
                          </div>
                        </div>
                      </div>
                      </form>
                    </div>
                    <button class="modal-close is-large modal-toggler" aria-label="close"
                      data-target="showTransport_<%= transport._id %>"></button>
                  </div>

                  <%- include('../../partials/_delete-modal', { name: 'Transport' , _id: transport._id, url:
                    `/admin/transports/${transport._id}?_method=delete` }) %>
                    <% }) %>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </section>

  <%- include('../../layouts/footer') %>
