<%- include('../../layouts/admin-header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
            <h1 class="title size-4 mb-0">Rotas de Transporte</h1>
            <a href="/admin/transports/new" class="button is-success">Novo Transporte</a>
        </div>

        <hr>

        <%- include('../../partials/messages') %>
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Motorista</th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% transports.forEach(transport => { %>
              <tr>
                <td>
                  <%= transport.name %>
                </td>
                <td>
                  <%= transport.driver %>
                </td>
                <td>
                  <a href="/admin/transports/<%= transport._id %>">Exibir</a>
                </td>
                <td>
                  <a href="/admin/transports/<%= transport._id %>/edit">Editar</a>
                </td>
                <td>
                  <a href="/admin/transports/<%= transport._id %>?_method=delete" class="has-text-danger">Excluir</a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/admin-footer') %>
