<%- include('../../partials/messages') %>

<form action="<%= url %>" method="POST">

  <div class="columns">
    <div class="column is-2">
      <div class="field">
        <label class="label" for="student_code">Matrícula</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="student[student_code]"
            id="student_code"
            placeholder="Insira o nome"
            value="<%= typeof student.student_code != 'undefined' ? student.student_code : '' %>"
            autocomplete="off"
          />
        </div>
      </div>
    </div>
    <div class="column is-5">
      <div class="field">
        <label class="label" for="first_name">Nome</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="student[first_name]"
            id="first_name"
            placeholder="Insira o nome"
            value="<%= typeof student.first_name != 'undefined' ? student.first_name : '' %>"
            autocomplete="off"
          />
        </div>
      </div>
    </div>
    <div class="column is-5">
      <div class="field">
        <label class="label" for="last_name">Sobrenome</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="student[last_name]"
            id="last_name"
            placeholder="Insira o sobrenome"
            value="<%= typeof student.last_name != 'undefined' ? student.last_name : '' %>"
            autocomplete="off"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="gender">Gênero</label>
        <div class="control mt-2">
          <label class="radio mt-1">
            <input type="radio" name="student[gender]" value="female" <%= student.gender === 'female' ? 'checked' : '' %> >
            Feminino
          </label>
          <label class="radio mt-1 ml-2">
            <input type="radio" name="student[gender]" value="male" <%= student.gender === 'male' ? 'checked' : '' %> >
            Masculino
          </label>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <label class="label" for="phone">Telefone</label>
      <div class="control">
        <input
          class="input"
          type="tel"
          name="student[phone]"
          id="phone"
          placeholder="Insira um telefone"
          value="<%= typeof student.phone != 'undefined' ? student.phone : '' %>"
          autocomplete="off"
        >
      </div>
    </div>
  </div>

  <div class="field">
    <label for="address" class="label">Endereço</label>
    <div class="control">
      <input
        class="input"
        type="text"
        name="student[address]"
        id="address"
        placeholder="Insira o endereço"
        value="<%= typeof student.address != 'undefined' ? student.address : '' %>"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label for="birthday" class="label">Data de Nascimento</label>
        <div class="control">
          <input
            class="input"
            type="date"
            name="student[birthday]"
            id="birthday"
            value="<%= typeof student.birthday != 'undefined' ? dayjs(student.birthday).format('YYYY-MM-DD') : '' %>"
          />
        </div>
      </div>
    </div>

    <div class="column is-two-thirds">
      <div class="field">
        <label for="birth_place" class="label">Local de Nascimento</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="student[birth_place]"
            id="birth_place"
            placeholder="Insira o endereço"
            value="<%= typeof student.birth_place != 'undefined' ? student.birth_place : '' %>"
            autocomplete="off"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="father_name">Nome do Pai</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="student[father_name]"
            id="father_name"
            placeholder="Insira o nome do pai"
            value="<%= typeof student.father_name != 'undefined' ? student.father_name : '' %>"
            autocomplete="off"
          />
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="father_ocupation">Ocupação do Pai</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="student[father_ocupation]"
            id="father_ocupation"
            placeholder="Insira a ocupação do pai"
            value="<%= typeof student.father_ocupation != 'undefined' ? student.father_ocupation : '' %>"
            autocomplete="off"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="mother_name">Nome da Mãe</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="student[mother_name]"
            id="mother_name"
            placeholder="Insira o nome da mãe"
            value="<%= typeof student.mother_name != 'undefined' ? student.mother_name : '' %>"
            autocomplete="off"
          />
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="mother_ocupation">Ocupação da Mãe</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="student[mother_ocupation]"
            id="mother_ocupation"
            placeholder="Insira a ocupação da mãe"
            value="<%= typeof student.mother_ocupation != 'undefined' ? student.mother_ocupation : '' %>"
            autocomplete="off"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-half">
      <div class="field">
        <label for="blood_type" class="label">Tipo Sanguíneo</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="student[blood_type]" id="blood_type">
              <option>Selecione um tipo</option>
              <option value="A+" <%= student.blood_type === 'A+' ? 'selected' : '' %>>
                A+
              </option>
              <option value="A-" <%= student.blood_type === 'A-' ? 'selected' : '' %>>
                A-
              </option>
              <option value="B+" <%= student.blood_type === 'B+' ? 'selected' : '' %>>
                B+
              </option>
              <option value="B-" <%= student.blood_type === 'B-' ? 'selected' : '' %>>
                B-
              </option>
              <option value="AB+" <%= student.blood_type === 'AB+' ? 'selected' : '' %>>
                AB+
              </option>
              <option value="AB-" <%= student.blood_type === 'AB-' ? 'selected' : '' %>>
                AB-
              </option>
              <option value="O+" <%= student.blood_type === 'O+' ? 'selected' : '' %>>
                O+
              </option>
              <option value="O-" <%= student.blood_type === 'O-' ? 'selected' : '' %>>
                O-
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-half">
      <div class="field">
        <label for="transport_id" class="label">Transporte</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="student[transport_id]" id="transport_id">
              <option>Escolha um transporte...</option>
              <% allTransports.forEach(transport => { %>
                
                <option
                  value="<%= transport.id %>"
                  <%= transport.id === student.transport_id ? 'selected' : '' %>
                >
                  <%= transport.name %>
                </option>
              <% }) %>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="info" class="label">Informações Adicionais</label>
    <div class="control">
      <textarea
        class="textarea"
        type="text"
        name="student[info]"
        id="info"
        placeholder="Insira outras informações adicionais"
      ><%= typeof student.info != 'undefined' ? student.info : '' %></textarea>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-success" type="submit">Salvar</button>
      <a href="/manager/students" class="button">Voltar</a>
    </div>
  </div>

</form>
