<%- include('../../layouts/header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
          <h1 class="title mb-0">Editar Estudante - <%= student.firstName %></h1>
          <div class="buttons">
            <a href="/manager/students/<%= student.id %>" class="button">
              Voltar para Estudante
            </a>
          </div>
        </div>
        <hr>
        <%- include('_form', { url: `/manager/students/${student._id}?_method=put`, student: student }) %> 
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/footer') %>
