<%- include('../../layouts/header') %>

<section class="section">
  <div class="container">

    <%- include('../../partials/messages') %>

    <div class="columns is-multiline">
      <% classrooms.forEach(classroom => { %>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <h3 class="title">
                <a href="/manager/classrooms/<%= classroom.id %>" class="has-text-dark"><%= classroom.name %></a>
              </h3>
              <h5 class="subtitle">
                Escola: <%= classroom.school_name %>
              </h5>
            </div>
            <footer class="card-content">
              <a href="/manager/classrooms/<%= classroom.id %>" class="button is-primary is-fullwidth">
                Ver Turma
              </a>
            </footer>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>

<%- include('../../layouts/footer') %>
