<%- include('../../layouts/header') %>

<section class="section">
  <div class="container is-max-desktop">
    <div class="card">
      <div class="card-content">
        <h1 class="title is-4">Matricular Aluno</h1>
        <hr>
        
        <form action="/admin/students/<%= student.id %>/enroll" method="post">

          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label class="label">Aluno</label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    name="student[name]"
                    value="<%= student.first_name %> <%= student.last_name %>"
                    readonly
                    disabled
                  />
                </div>
              </div>
            </div>

            <div class="column is-4">
              <div class="field">
                <label for="academic_year_id" class="label">Ano Letivo</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="academic_year_id" id="academic_year_id">
                      <% academicYears.forEach(academicYear => { %>
    
                        <option value="<%= academicYear.id %>" >
                          <%= academicYear.year %>
                        </option>
    
                      <% }) %>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-4">
              <div class="field">
                <label for="classroom_id" class="label">Turma</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="classroom_id" id="classroom_id">
                      <% schools.forEach(school => { %>
    
                        <% school.classrooms.forEach(classroom => { %>
                         
                          <option value="<%= classroom.id %>" >
                            <%= school.name %> - <%= classroom.name %>
                          </option>
    
                        <% }) %>
    
                      <% }) %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-success" type="submit">
                Salvar
              </button>
              <a href="<%= `/admin/students/${student.id}` %>" class="button">
                Voltar
              </a>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/footer') %>
