<%- include('../layouts/header') %>

<section class="section">
  <div class="container">
    <%- include('../partials/messages') %>

    <div class="columns is-multiline">
      <div class="column is-6-tablet is-3-desktop">
        <div class="card mb-5">
          <div class="card-content is-flex is-justify-content-space-between">
            <span class="is-size-6 has-text-weight-bold">Escolas:</span>
            <span class="is-size-6 has-text-weight-bold">
              <%= schoolsWithStudentsCount.quantities.length %>
            </span>
          </div>
        </div>
        <div class="card mb-5">
          <div class="card-content is-flex is-justify-content-space-between">
            <span class="is-size-6 has-text-weight-bold">Alunos Matriculados:</span>
            <span class="is-size-6 has-text-weight-bold">
              <%= schoolsWithStudentsCount.total %>
            </span>
          </div>
        </div>
        <div class="card">
          <div class="card-content is-flex is-justify-content-space-between">
            <span class="is-size-6 has-text-weight-bold">Funcionários:</span>
            <span class="is-size-6 has-text-weight-bold">
              <%= sectorsWithEmployeesCount.total %>
            </span>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card">
          <div class="card-content">
            <h4 class="title is-6 has-text-weight-bold">
              Alunos Matriculados / Escola
            </h4>
            <canvas
              id="schoolsDonutChart"
              class="chart-js-doughnut"
              data-chart-title="Alunos por Escola"
              data-chart-data="<%= JSON.stringify(schoolsWithStudentsCount) %>"
            ></canvas>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card">
          <div class="card-content">
            <h4 class="title is-6 has-text-weight-bold">
              Alunos Matriculados / Ano
            </h4>
            <canvas
              id="gradesChart"
              class="chart-js-doughnut"
              data-chart-title="Alunos por Ano Escolar"
              data-chart-data="<%= JSON.stringify(gradesWithStudentsCount) %>"
            ></canvas>
          </div>
        </div>
      </div>
      <div class="column is-6-tablet is-3-desktop">
        <div class="card">
          <div class="card-content">
            <h4 class="title is-6 has-text-weight-bold">
              Funcionários / Setor
            </h4>
            <canvas
              id="sectorsChart"
              class="chart-js-doughnut"
              data-chart-title="Funcionários por Setor"
              data-chart-data="<%= JSON.stringify(sectorsWithEmployeesCount) %>"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
    <hr>
      <!-- <div class="columns">
        <div class="column is-three-thirds">
          <div class="card">
            <div class="card-content">
              <h4 class="title is-6 has-text-weight-bold">
                Alunos por Escola
              </h4>
              <canvas id="schoolsBarChart" width="1024" height="480"></canvas>
            </div>
          </div>
        </div>
      </div> -->
  </div>
</section>

<%- include('../layouts/footer') %>
