<%- include('../../layouts/header') %>

  <section class="section">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="is-flex is-align-items-center is-justify-content-space-between">
            <h1 class="title size-4 mb-0">Alunos</h1>
            <div class="buttons">
              <a href="/admin/students/create" class="button is-link">Novo Aluno</a>
              <a href="/admin/students/export-pdf" class="button is-light" target="_blank">Exportar em PDF</a>
            </div>
          </div>

          <hr>

          <%- include('../../partials/messages') %>
            <div class="table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Matrícula Estadual</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Gênero</th>
                    <th>Telefone</th>
                    <th>Matriculado</th>
                    <th colspan="3">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <% students.forEach(student=> { %>
                    <tr>
                      <td>
                        <%= student.student_code %>
                      </td>
                      <td>
                        <%= student.first_name %>
                      </td>
                      <td>
                        <%= student.last_name %>
                      </td>
                      <td>
                        <%= student.gender === 'female' ? 'Feminino' : 'Masculino' %>
                      </td>
                      <td>
                        <%= student.phone %>
                      </td>
                      <td>
                        <%= student.enrolled() ? 'Sim' : 'Não' %>
                      </td>
                      <td>
                        <a href="/admin/students/<%= student.id %>">Exibir</a>
                      </td>
                      <td>
                        <a href="/admin/students/<%= student.id %>/edit">Editar</a>
                      </td>
                      <td>
                        <a class="has-text-danger modal-toggler" data-target="deleteModalStudent_<%= student.id %>">
                          Excluir
                        </a>
                      </td>
                    </tr>

                    <%- include('../../partials/_delete-modal', { name: 'Student' , id: student.id, url:
                      `/admin/students/${student.id}?_method=delete` }) %>
                      <% }) %>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../../layouts/footer') %>
