<%- include('../../partials/messages') %>

<form action="<%= url %>" method="POST">

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="name">Nome</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="classroom[name]"
            id="name"
            placeholder="Ex.: 7º Ano do Ensino Fundamental (Manhã)"
            value="<%= typeof classroom.name != 'undefined' ? classroom.name : '' %>"
            autofocus
            autocomplete="off"
    
          />
          <% if (classroom.errors && classroom.errors.hasOwnProperty('name')) { %>
            <p class="is-danger help"><%= classroom.errors.name %></p>
          <% } %>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <label for="grade" class="label">Ano Escolar</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="classroom[grade]" id="grade">
              <option disabled selected>Escolha um ano...</option>
              <% grades.forEach(grade => { %>
                <option
                  value="<%= grade._id %>"
                  <%= grade._id.equals(classroom.grade) ? 'selected' : '' %>
                >
                  <%= grade.name %>
                </option>
              <% }) %>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" name="classroom[school]" value="<%= classroom.school %>">

  <div class="field">
    <div class="control">
      <button class="button is-success" type="submit">Salvar</button>
    </div>
  </div>

</form>
