<%- include('../../layouts/header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">

        <%- include('../../partials/messages') %>

        <div class="is-flex is-align-items-center is-justify-content-space-between">
          <h1 class="title mb-0"><%= classroom.name %></h1>
          <div class="buttons">
            <a
              href="/manager/classrooms/<%= classroom.id %>/edit"
              class="button is-link"
            >
              Editar
            </a>
            <a href="/manager/classrooms" class="button">
              Voltar
            </a>
          </div>
        </div>

        <hr>

        <div class="columns">
          <div class="column is-6">
            <div class="field mb-6">
              <h4 class="title is-5">Ano Escolar</h4>
              <h6 class="subtitle is-3">
                <%= classroom.grade.name %>
              </h6>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <h4 class="title is-5">Escola</h4>
              <h6 class="subtitle is-3">
                <%= classroom.school.name %>
              </h6>
            </div>
          </div>
        </div>
        
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-4">
          <h4 class="title is-5 mb-0">
            Alunos
          </h4>
        </div>

        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Telefone</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% students.forEach(student => { %>
                <tr>
                  <td>
                    <%= student.student_code %>
                  </td>
                  <td>
                    <%= student.first_name %>
                  </td>
                  <td>
                    <%= student.last_name %>
                  </td>
                  <td>
                    <%= student.phone %>
                  </td>
                  <td>
                    <a href="/manager/students/<%= student.id %>" class="has-text-weight-bold">
                      Exibir
                    </a>
                  </td>
                </tr>
  
              <% }) %>
            </tbody>
          </table>
        </div>

        <hr>
        
        <a
          class="button is-danger modal-toggler"
          data-target="deleteModalClassroom_<%= classroom.id %>"
        >
          Excluir
        </a>

        <%- include('../../partials/_delete-modal', { name: 'Classroom', id: classroom.id, url: `/manager/classrooms/${classroom.id}?_method=delete` }) %>
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/footer') %>
