<%- include('../../layouts/header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
          <h1 class="title mb-0"><%= classroom.name %></h1>
          <div class="buttons">
            <a
              href="/manager/classrooms/<%= classroom._id %>/edit"
              class="button is-link"
            >
              Editar Turma
            </a>
            <a href="/manager/schools/<%= classroom.school %>" class="button">
              Voltar para Escola
            </a>
          </div>
        </div>

        <hr>
        
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-4">
          <h4 class="title is-5 mb-0">
            Alunos
          </h4>
          <a href="/manager/classrooms/<%= classroom._id %>/add-student" class="button is-link">Novo Aluno</a>
        </div>

        <%- include('../../partials/messages') %>

        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Telefone</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% students.forEach(student => { %>
                <tr>
                  <td>
                    <%= student.enrollment %>
                  </td>
                  <td>
                    <%= student.firstName %>
                  </td>
                  <td>
                    <%= student.lastName %>
                  </td>
                  <td>
                    <%= student.phone %>
                  </td>
                  <td>
                    <a href="/manager/students/<%= student._id %>" class="has-text-weight-bold">
                      Exibir
                    </a>
                  </td>
                </tr>
  
              <% }) %>
            </tbody>
          </table>
        </div>

        <hr>
        
        <a
          class="button is-danger modal-toggler"
          data-target="deleteModalClassroom_<%= classroom._id %>"
        >
          Excluir
        </a>

        <%- include('../../partials/_delete-modal', { name: 'Classroom', _id: classroom._id, url: `/manager/classrooms/${classroom._id}?_method=delete` }) %>
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/footer') %>
