<%- include('../../layouts/header') %>

<section class="section">
  <div class="container">

    <%- include('../../partials/messages') %>

    <div class="columns is-multiline">
      <% schools.forEach(school => { %>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <h3 class="title">
                <a href="/manager/schools/<%= school.id %>" class="has-text-dark"><%= school.name %></a>
              </h3>
              <h5 class="subtitle">
                Código do INEP: <%= school.inep_code %>
              </h5>
            </div>
            <footer class="card-content">
              <a href="/manager/schools/<%= school.id %>" class="button is-primary is-fullwidth">
                Ver Escola
              </a>
            </footer>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>

<%- include('../../layouts/footer') %>
