<%- include('../../layouts/header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
          <h1 class="title mb-0"><%= school.name %></h1>
          <a href="/manager/schools" class="button">
            Voltar para Minhas Escolas
          </a>
        </div>

        <hr>

        <%- include('../../partials/messages') %>

        <div class="columns">
          <div class="column is-8">
            <div class="field mb-6">
              <h4 class="title is-5">Endereço</h4>
              <h6 class="subtitle is-3">
                <%= school.address %>
              </h6>
            </div>

            <div class="columns">
              <div class="column is-one-half">
                <div class="field">
                  <h4 class="title is-5">Código do INEP</h4>
                  <h6 class="subtitle is-3">
                    <%= school.inep_code %>
                  </h6>
                </div>
              </div>
              <div class="column is-one-half">
                <div class="field">
                  <h4 class="title is-5">Gestor</h4>
                  <h6 class="subtitle is-3">
                    <a href="/users/<%= school.user_id %>" class="has-text-dark">
                      <%= school.manager %>
                    </a>
                  </h6>
                </div>
              </div>
            </div>

          </div>
          <div class="column is-4">
            <div class="is-flex is-align-items-center is-justify-content-space-between mb-5">
              <h4 class="title is-5 mb-0">
                Turmas
              </h4>
              <a href="/manager/schools/<%= school.id %>/add-classroom" class="button is-link">
                Nova Turma
              </a>
            </div>

            <div class="table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <% school.classrooms.forEach(classroom=> { %>
                    <tr>
                      <td>
                        <%= classroom.name %>
                      </td>
                      <td>
                        <a href="/manager/classrooms/<%= classroom.id %>" class="has-text-weight-bold">
                          Exibir
                        </a>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/footer') %>
