<%- include('../../layouts/header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
          <h1 class="title mb-0">
            Nova Turma
          </h1>
          <a href="/manager/schools/<%= schoolId %>" class="button">
            Voltar para Escola
          </a>
        </div>
        <hr>

        <%- include('../../partials/messages') %>

        <form action="/manager/classrooms?_method=post" method="POST">

          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label" for="name">Nome</label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    name="classroom[name]"
                    id="name"
                    placeholder="Ex.: 7º Ano do Ensino Fundamental (Manhã)"
                    autocomplete="off"
                    autofocus
                    required
                  />
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label for="grade_id" class="label">Ano Escolar</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="classroom[grade_id]" id="grade_id">
                      <option disabled selected>Escolha um ano...</option>
                      <% grades.forEach(grade => { %>
                        <option value="<%= grade.id %>" >
                          <%= grade.name %>
                        </option>
                      <% }) %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <input type="hidden" name="classroom[school_id]" value="<%= schoolId %>">

          <div class="field">
            <div class="control">
              <button class="button is-success" type="submit">Salvar</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/footer') %>
