<%- include('../../partials/messages') %>

<form action="<%= url %>" method="POST">

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="enrollment">Matrícula</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[enrollment]"
            id="enrollment"
            placeholder="Ex.: 196158-1"
            value="<%= typeof employee.enrollment != 'undefined' ? employee.enrollment : '' %>"
            autofocus
            autocomplete="off"
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('enrollment')) { %>
            <p class="is-danger help"><%= employee.errors.enrollment %></p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="name">Nome</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[name]"
            id="name"
            placeholder="Ex.: Maria Helena da Silva Oliveira"
            value="<%= typeof employee.name != 'undefined' ? employee.name : '' %>"
            autocomplete="off"
    
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('name')) { %>
            <p class="is-danger help"><%= employee.errors.name %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="position">Cargo</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[position]"
            id="position"
            placeholder="Ex.: Professora de História"
            value="<%= typeof employee.position != 'undefined' ? employee.position : '' %>"
            autocomplete="off"
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('position')) { %>
            <p class="is-danger help"><%= employee.errors.position %></p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="role">Função</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[role]"
            id="role"
            placeholder="Professora de História do Ensino Fundamental"
            value="<%= typeof employee.role != 'undefined' ? employee.role : '' %>"
            autofocus
            autocomplete="off"
    
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('role')) { %>
            <p class="is-danger help"><%= employee.errors.role %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label for="bond" class="label">Vínculo</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="employee[bond]" id="bond">
              <option>Selecione um vínculo</option>
              <option value="Efetivo" <%= employee.bond === 'Efetivo' ? 'selected' : '' %>>
                Efetivo
              </option>
              <option value="Comissionado" <%= employee.bond === 'Comissionado' ? 'selected' : '' %>>
                Comissionado
              </option>
              <option value="Contratado" <%= employee.bond === 'Contratado' ? 'selected' : '' %>>
                Contratado
              </option>
              <option value="Cedido" <%= employee.bond === 'Cedido' ? 'selected' : '' %>>
                Cedido
              </option>
              <option value="Permutado" <%= employee.bond === 'Permutado' ? 'selected' : '' %>>
                Permutado
              </option>
            </select>
          </div>
          <% if (employee.errors && employee.errors.hasOwnProperty('bond')) { %>
            <p class="is-danger help"><%= employee.errors.bond %></p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label for="birthday" class="label">Data de Nascimento</label>
        <div class="control">
          <input
            class="input"
            type="date"
            name="employee[birthday]"
            id="birthday"
            value="<%= typeof employee.birthday != 'undefined' ? dayjs(employee.birthday).format('YYYY-MM-DD') : '' %>"
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('birthday')) { %>
            <p class="is-danger help"><%= employee.errors.birthday %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="cpf">CPF</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[cpf]"
            id="cpf"
            placeholder="Insira apenas números. Ex.: 04196574911"
            value="<%= typeof employee.cpf != 'undefined' ? employee.cpf : '' %>"
            autocomplete="off"
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('cpf')) { %>
            <p class="is-danger help"><%= employee.errors.cpf %></p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="rg">RG</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[rg]"
            id="rg"
            placeholder="Insira apenas números. Ex.: 123459878"
            value="<%= typeof employee.rg != 'undefined' ? employee.rg : '' %>"
            autofocus
            autocomplete="off"
    
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('rg')) { %>
            <p class="is-danger help"><%= employee.errors.rg %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="ctps">CTPS</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[ctps]"
            id="ctps"
            placeholder="Insira apenas números"
            value="<%= typeof employee.ctps != 'undefined' ? employee.ctps : '' %>"
            autocomplete="off"
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('ctps')) { %>
            <p class="is-danger help"><%= employee.errors.ctps %></p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="electorTitle">Título de Eleitor</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[electorTitle]"
            id="electorTitle"
            placeholder="Insira apenas números"
            value="<%= typeof employee.electorTitle != 'undefined' ? employee.electorTitle : '' %>"
            autofocus
            autocomplete="off"
    
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('electorTitle')) { %>
            <p class="is-danger help"><%= employee.errors.electorTitle %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="pis">PIS</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[pis]"
            id="pis"
            placeholder="Insira apenas números"
            value="<%= typeof employee.pis != 'undefined' ? employee.pis : '' %>"
            autocomplete="off"
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('pis')) { %>
            <p class="is-danger help"><%= employee.errors.pis %></p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="fundeb">Fundeb</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[fundeb]"
            id="fundeb"
            placeholder=""
            value="<%= typeof employee.fundeb != 'undefined' ? employee.fundeb : '' %>"
            autofocus
            autocomplete="off"
    
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('fundeb')) { %>
            <p class="is-danger help"><%= employee.errors.fundeb %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="address" class="label">Endereço</label>
    <div class="control">
      <input
        class="input"
        type="text"
        name="employee[address]"
        id="address"
        placeholder="Ex.: Avenida 24 de Abril, nº 71, Centro. São Fidélis / RJ"
        value="<%= typeof employee.address != 'undefined' ? employee.address : '' %>"
        autocomplete="off"
      />
      <% if (employee.errors && employee.errors.hasOwnProperty('address')) { %>
        <p class="is-danger help"><%= employee.errors.address %></p>
      <% } %>
    </div>
  </div>
  
  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="phone">Telefone</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[phone]"
            id="phone"
            placeholder="Insira apenas números. Ex.: 22997152633"
            value="<%= typeof employee.phone != 'undefined' ? employee.phone : '' %>"
            autofocus
            autocomplete="off"
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('phone')) { %>
            <p class="is-danger help"><%= employee.errors.phone %></p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[email]"
            id="email"
            placeholder="Ex.: mhelena@gmail.com"
            value="<%= typeof employee.email != 'undefined' ? employee.email : '' %>"
            autocomplete="off"
    
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('email')) { %>
            <p class="is-danger help"><%= employee.errors.email %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="formation">Formação</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[formation]"
            id="formation"
            placeholder="Ex.: Licenciatura em História"
            value="<%= typeof employee.formation != 'undefined' ? employee.formation : '' %>"
            autofocus
            autocomplete="off"
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('formation')) { %>
            <p class="is-danger help"><%= employee.errors.formation %></p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label" for="complementaryFormation">Formação Complementar</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[complementaryFormation]"
            id="complementaryFormation"
            placeholder="Ex.: Pós-Graduação em História Antiga"
            value="<%= typeof employee.complementaryFormation != 'undefined' ? employee.complementaryFormation : '' %>"
            autocomplete="off"
    
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('complementaryFormation')) { %>
            <p class="is-danger help"><%= employee.errors.complementaryFormation %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label for="situation" class="label">Situação</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="employee[situation]" id="situation">
              <option>Selecione um situação</option>
              <option value="Ativo" <%= employee.situation === 'Ativo' ? 'selected' : '' %>>
                Ativo
              </option>
              <option value="Cedido" <%= employee.situation === 'Cedido' ? 'selected' : '' %>>
                Cedido
              </option>
              <option value="Extraclasse" <%= employee.situation === 'Extraclasse' ? 'selected' : '' %>>
                Extraclasse
              </option>
              <option value="Licenciado" <%= employee.situation === 'Licenciado' ? 'selected' : '' %>>
                Licenciado
              </option>
              <option value="Permutado" <%= employee.situation === 'Permutado' ? 'selected' : '' %>>
                Permutado
              </option>
              <option value="Professor Regente" <%= employee.situation === 'Professor Regente' ? 'selected' : '' %>>
                Professor Regente
              </option>
              <option value="Readaptado" <%= employee.situation === 'Readaptado' ? 'selected' : '' %>>
                Readaptado
              </option>
            </select>
          </div>
          <% if (employee.errors && employee.errors.hasOwnProperty('situation')) { %>
            <p class="is-danger help"><%= employee.errors.situation %></p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label for="admissionDate" class="label">Data de Admissão</label>
        <div class="control">
          <input
            class="input"
            type="date"
            name="employee[admissionDate]"
            id="admissionDate"
            value="<%= typeof employee.admissionDate != 'undefined' ? dayjs(employee.admissionDate).format('YYYY-MM-DD') : '' %>"
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('admissionDate')) { %>
            <p class="is-danger help"><%= employee.errors.admissionDate %></p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label class="label" for="workload">Carga Horária</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="employee[workload]"
            id="workload"
            placeholder="Ex.: 20 Horas"
            value="<%= typeof employee.workload != 'undefined' ? employee.workload : '' %>"
            autofocus
            autocomplete="off"
          />
          <% if (employee.errors && employee.errors.hasOwnProperty('workload')) { %>
            <p class="is-danger help"><%= employee.errors.workload %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label for="originSector" class="label">Setor de Origem</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="employee[originSector]" id="originSector">
              <option>Escolha um setor...</option>
              <% allSectors.forEach(sector => { %>
                <option
                  value="<%= sector._id %>"
                  <%= sector._id.equals(employee.originSector) ? 'selected' : '' %>
                >
                  <%= sector.name %>
                </option>
              <% }) %>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label for="currentSector" class="label">Setor Atual</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="employee[currentSector]" id="currentSector">
              <option>Escolha um setor...</option>
              <% allSectors.forEach(sector => { %>
                <option
                  value="<%= sector._id %>"
                  <%= sector._id.equals(employee.currentSector) ? 'selected' : '' %>
                >
                  <%= sector.name %>
                </option>
              <% }) %>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-half">
      <div class="field">
        <label for="school" class="label">Escola</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="employee[school]" id="school" autofocus>
              <option>Escolha uma escola...</option>
              <% allSchools.forEach(school => { %>
                <option
                  value="<%= school._id %>"
                  <%= school._id.equals(employee.school) ? 'selected' : '' %>
                >
                  <%= school.name %>
                </option>
              <% }) %>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-half">
      <div class="field">
        <label for="shift" class="label">Turno</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="employee[shift]" id="shift">
              <option>Selecione um turno</option>
              <option value="Manhã" <%= employee.shift === 'Manhã' ? 'selected' : '' %>>
                Manhã
              </option>
              <option value="Tarde" <%= employee.shift === 'Tarde' ? 'selected' : '' %>>
                Tarde
              </option>
              <option value="Noite" <%= employee.shift === 'Noite' ? 'selected' : '' %>>
                Noite
              </option>
            </select>
          </div>
          <% if (employee.errors && employee.errors.hasOwnProperty('shift')) { %>
            <p class="is-danger help"><%= employee.errors.shift %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="classroom" class="label">Turma</label>
    <div class="control">
      <div class="select is-fullwidth">
        <select name="employee[classroom]" id="classroom" autofocus>
          <option>Escolha uma turma...</option>
          <% allClasses.forEach(classroom => { %>
            <option
              value="<%= classroom._id %>"
              <%= classroom._id.equals(employee.classroom) ? 'selected' : '' %>
            >
              <%= `${classroom.name} | ${classroom.school.name}` %>
            </option>
          <% }) %>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="info" class="label">Informações Adicionais</label>
    <div class="control">
      <textarea
        class="textarea"
        type="text"
        name="employee[info]"
        id="info"
        placeholder="Insira outras informações adicionais"
      ><%= typeof employee.info != 'undefined' ? employee.info : '' %></textarea>

      <% if (employee.errors && employee.errors.hasOwnProperty('info')) { %>
        <p class="is-danger help"><%= employee.errors.info %></p>
      <% } %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-link" type="submit">Salvar</button>
      <a href="/admin/employees" class="button">Voltar</a>
    </div>
  </div>

</form>
