<%- include('../../layouts/admin-header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column is-four-fifths">
            <h1 class="title size-4">Funcionários</h1>
          </div>
          <div class="column is-one-fifth">
            <a href="/admin/employees/new" class="button is-link">Novo Funcionário</a>
          </div>
        </div>
      </div>

      <div class="card-content">
        <%- include('../../partials/messages') %>
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Telefone</th>
                <th>Setor Atual</th>
                <th colspan="3">Ações</th>
              </tr>
            </thead>
            <tbody>
              <% employees.forEach(employee => { %>
                <tr>
                  <td>
                    <%= employee.enrollment %>
                  </td>
                  <td>
                    <%= employee.name %>
                  </td>
                  <td>
                    <%= employee.position %>
                  </td>
                  <td>
                    <%= employee.phone %>
                  </td>
                  <td>
                    <%= employee.currentSector.name %>
                  </td>
                  <td>
                    <a href="/admin/employees/<%= employee._id %>">Exibir</a>
                  </td>
                  <td>
                    <a href="/admin/employees/<%= employee._id %>/edit">Editar</a>
                  </td>
                  <td>
                    <a href="/admin/employees/<%= employee._id %>?_method=delete" class="has-text-danger">Excluir</a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/admin-footer') %>
