<%- include('../../layouts/header') %>

  <section class="section">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="is-flex is-align-items-center is-justify-content-space-between">
            <h1 class="title size-4 mb-0">Funcionários</h1>
            <a href="/admin/employees/create" class="button is-link">Novo Funcionário</a>
          </div>

          <hr>

          <%- include('../../partials/messages') %>
            <div class="table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Telefone</th>
                    <th>Setor Atual</th>
                    <th colspan="3">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <% employees.forEach(employee=> { %>
                    <tr>
                      <td>
                        <%= employee.employee_code %>
                      </td>
                      <td>
                        <%= employee.name %>
                      </td>
                      <td>
                        <%= employee.position %>
                      </td>
                      <td>
                        <%= employee.phone %>
                      </td>
                      <td>
                        <%= employee.current_sector.name %>
                      </td>
                      <td>
                        <a href="/admin/employees/<%= employee.id %>">Exibir</a>
                      </td>
                      <td>
                        <a href="/admin/employees/<%= employee.id %>/edit">Editar</a>
                      </td>
                      <td>
                        <a class="has-text-danger modal-toggler" data-target="deleteModalEmployee_<%= employee.id %>">
                          Excluir
                        </a>
                      </td>
                    </tr>

                    <%- include('../../partials/_delete-modal', { name: 'Employee' , id: employee.id, url:
                      `/admin/employees/${employee.id}?_method=delete` }) %>
                      <% }) %>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../../layouts/footer') %>
