<%- include('../../partials/messages') %>

<form action="<%= url %>" method="POST">

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="name">Nome</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="user[name]"
            id="name"
            placeholder="Ex.: Pedro Henrique"
            value="<%= user.name %>"
            autofocus
            autocomplete="off"
            required
          />
          <% if (user.errors && user.errors.hasOwnProperty('name')) { %>
            <p class="is-danger help"><%= user.errors.name %></p>
          <% } %>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input
            class="input"
            type="email"
            name="user[email]"
            id="email"
            placeholder="Ex.: ph@email.com"
            value="<%= user.email %>"
            autocomplete="off"
            required
          />
          <% if (user.errors && user.errors.hasOwnProperty('email')) { %>
            <p class="is-danger help"><%= user.errors.email %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Tipo de Usuário</label>
    <div class="control mt-2">
      <label class="radio is-block mt-1 ml-2">
        <input type="radio" name="user[role]" value="admin" <%= user.role === 'admin' ? 'checked' : '' %> >
        Administrador do Sistema
      </label>
      <label class="radio is-block mt-1">
        <input type="radio" name="user[role]" value="manager" <%= user.role === 'manager' ? 'checked' : '' %> >
        Gestor de Escola
      </label>
      <label class="radio is-block mt-1">
        <input type="radio" name="user[role]" value="teacher" <%= user.role === 'teacher' ? 'checked' : '' %> >
        Professor
      </label>
      <label class="radio is-block mt-1">
        <input type="radio" name="user[role]" value="student" <%= user.role === 'student' ? 'checked' : '' %> >
        Aluno
      </label>
    </div>
    <% if (user.errors && user.errors.hasOwnProperty('role')) { %>
      <p class="is-danger help"><%= user.errors.role %></p>
    <% } %>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label" for="password">Senha</label>
        <div class="control">
          <input
            class="input"
            type="password"
            name="user[password]"
            id="password"
            placeholder="<%= isUpdating ? 'Deixe em branco para não alterar' : 'Digite uma senha' %>"
          />
          <% if (user.errors && user.errors.hasOwnProperty('password')) { %>
            <p class="is-danger help"><%= user.errors.password %></p>
          <% } %>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <label class="label" for="passwordConfirmation">Confirmar Senha</label>
        <div class="control">
          <input
            class="input"
            type="password"
            name="user[passwordConfirmation]"
            id="passwordConfirmation"
            placeholder="<%= isUpdating ? 'Deixe em branco para não alterar' : 'Confirme a senha' %>"
          />
          <% if (user.errors && user.errors.hasOwnProperty('passwordConfirmation')) { %>
            <p class="is-danger help"><%= user.errors.passwordConfirmation %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-success" type="submit">Salvar</button>
      <a href="/admin/users" class="button">Voltar</a>
    </div>
  </div>

</form>
