<%- include('../../layouts/admin-header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
            <h1 class="title size-4 mb-0">Todos os Usuários</h1>
            <a href="/admin/users/new" class="button is-success">Novo Usuário</a>
        </div>

        <hr>

        <%- include('../../partials/messages') %>
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Perfil</th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user => { %>
              <tr>
                <td>
                  <%= user.name %>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <% if (user.role === "admin") { %>
                    <span>Administrador</span>
                  <% } else if (user.role === "manager") { %>
                    <span>Gestor</span>
                  <% } else if (user.role === "teacher") { %>
                    <span>Professor</span>
                  <% } else if (user.role === "student") { %>
                    <span>Aluno</span>
                  <% } %>
                </td>
                <td>
                  <a href="/admin/users/<%= user._id %>">Exibir</a>
                </td>
                <td>
                  <a href="/admin/users/<%= user._id %>/edit">Editar</a>
                </td>
                <td>
                  <a href="/admin/users/<%= user._id %>?_method=delete" class="has-text-danger">Excluir</a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/admin-footer') %>
