<%- include('../layouts/header') %>

<section class="section">
  <div class="container">

    <%- include('../partials/messages') %>

    <div class="columns is-multiline">
      <% schools.forEach(school => { %>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <h3 class="title">
                <a href="/manager/schools/<%= school._id %>" class="has-text-dark"><%= school.name %></a>
              </h3>
              <h5 class="subtitle">
                Código do INEP: <%= school.inepCode %>
              </h5>
              <p><%= school.address %></p>
            </div>
            <footer class="card-footer">
              <a href="/manager/schools/<%= school._id %>" class="card-footer-item">
                Ver Escola
              </a>
              <a href="/manager/schools/<%= school._id %>/add-classroom" class="card-footer-item">
                Nova Turma
              </a>
            </footer>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
