<%- include('../layouts/header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
          <h1 class="title mb-0"><%= school.name %></h1>
          <a href="/schools" class="button">Voltar</a>
        </div>
        <hr>
        <div class="columns">
          <div class="column is-two-quarters">
            <div class="field">
              <h4 class="title is-4">Endereço</h4>
              <h5 class="subtitle"><%= school.address %></h5>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="field">
              <h4 class="title is-4">Código do INEP</h4>
              <h5 class="subtitle"><%= school.inepCode %></h5>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="field">
              <h4 class="title is-4">Gestor</h4>
              <h5 class="subtitle"><%= school.manager.name %></h5>
            </div>
          </div>
        </div>
        <hr>
        <div class="is-flex is-align-items-center is-justify-content-space-between mb-4">
          <h4 class="title is-4 mb-0">Lista de Turmas</h4>
          <a href="/schools/<%= school._id %>/add-classroom" class="button is-success">Nova Turma</a>
        </div>

        <%- include('../partials/messages') %>
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Ano</th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% classrooms.forEach(classroom => { %>
              <tr>
                <td>
                  <%= classroom.name %>
                </td>
                <td>
                  <%= classroom.grade.name %>
                </td>
                <td>
                  <a href="/classrooms/<%= classroom._id %>">Exibir</a>
                </td>
                <td>
                  <a href="/classrooms/<%= classroom._id %>/edit">Editar</a>
                </td>
                <td>
                  <a href="/classrooms/<%= classroom._id %>?_method=delete" class="has-text-danger">Excluir</a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
