<%- include('../../layouts/admin-header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h1 class="title">Turma: <%= classroom.name %></h1>

        <hr>

        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <h4 class="title is-4">Ano Escolar</h4>
              <h6 class="subtitle"><%= classroom.grade.name %></h6>
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <h4 class="title is-4">Escola</h4>
              <h6 class="subtitle"><%= classroom.school.name %></h6>
            </div>
          </div>
        </div>
      </div>

      <div class="card-content">
        <hr>
        <div class="columns">
          <div class="column is-four-fifths">
            <h4 class="title is-4">Alunos</h4>
          </div>
        </div>
      </div>
      <div class="card-content">
        <%- include('../../partials/messages') %>
        <table class="table">
          <thead>
            <tr>
              <th>Matrícula</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% students.forEach(student => { %>
              <tr>
                <td>
                  <%= student.enrollment %>
                </td>
                <td>
                  <%= student.firstName %>
                </td>
                <td>
                  <%= student.lastName %>
                </td>
                <td>
                  <%= student.phone %>
                </td>
                <td>
                  <a href="/admin/students/<%= student._id %>">Exibir</a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

      <div class="card-content">
        <div class="buttons">
          <a
            href="/admin/classrooms/<%= classroom._id %>/edit"
            class="button is-link"
          >
            Editar Turma
          </a>
          <a href="/admin/classrooms" class="button">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/admin-footer') %>
