<%- include('../layouts/header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h1 class="title">Aluno</h1>
        <hr>
        <div class="columns">
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Matrícula</h4>
              <h6 class="subtitle"><%= student.enrollment %></h6>
            </div>
          </div>
          <div class="column is-three-half">
            <div class="field">
              <h4 class="title is-4">Nome Completo</h4>
              <h6 class="subtitle"><%= student.firstName %> <%= student.lastName %></h6>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <h4 class="title is-4">Escola</h4>
              <h6 class="subtitle"><%= student.school.name %></h6>
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <h4 class="title is-4">Turma</h4>
              <h6 class="subtitle"><%= student.classroom.name %></h6>
            </div>
          </div>
        </div>
        
        <div class="columns">
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Gênero</h4>
              <h6 class="subtitle"><%= student.gender === 'male' ? 'Masculino' : 'Feminino' %></h6>
            </div>
          </div>
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Telefone</h4>
              <h6 class="subtitle"><%= student.phone %></h6>
            </div>
          </div>
        </div>

        <div class="field">
          <h4 class="title is-4">Endereço</h4>
          <h6 class="subtitle"><%= student.address %></h6>
        </div>

        <div class="columns">
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Data de Nascimento</h4>
              <h6 class="subtitle"><%= dayjs(student.birthday).format('DD/MM/YYYY') %></h6>
            </div>
          </div>
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Local de Nascimento</h4>
              <h6 class="subtitle"><%= student.birthPlace %></h6>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Nome do Pai</h4>
              <h6 class="subtitle"><%= student.fatherName %></h6>
            </div>
          </div>
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Ocupação do Pai</h4>
              <h6 class="subtitle"><%= student.fatherOcupation %></h6>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Nome da Mãe</h4>
              <h6 class="subtitle"><%= student.motherName %></h6>
            </div>
          </div>
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Ocupação da Mãe</h4>
              <h6 class="subtitle"><%= student.motherOcupation %></h6>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Tipo Sanguíneo</h4>
              <h6 class="subtitle"><%= student.bloodType %></h6>
            </div>
          </div>
          <div class="column is-one-half">
            <div class="field">
              <h4 class="title is-4">Transporte</h4>
              <h6 class="subtitle"><%= student.transport.name %></h6>
            </div>
          </div>
        </div>

        <div class="buttons">
          <a href="/manager/students/<%= student._id %>/edit" class="button is-link">Editar</a>
          <a href="/manager/classrooms/<%= student.classroom._id %>" class="button">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
