<%- include('../../layouts/header') %>

  <section class="section">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="is-flex is-align-items-center is-justify-content-space-between">
            <h1 class="title size-4 mb-0">Listagem de Escolas</h1>
            <a href="/admin/schools/new" class="button is-link">Nova Escola</a>
          </div>

          <hr>

          <%- include('../../partials/messages') %>
            <table class="table">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Código do INEP</th>
                  <th>Gestor</th>
                  <th colspan="3">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% schools.forEach(school=> { %>
                  <tr>
                    <td>
                      <%= school.name %>
                    </td>
                    <td>
                      <%= school.inepCode %>
                    </td>
                    <td>
                      <%= school.manager.name %>
                    </td>
                    <td>
                      <a href="/admin/schools/<%= school._id %>">Exibir</a>
                    </td>
                    <td>
                      <a href="/admin/schools/<%= school._id %>/edit">Editar</a>
                    </td>
                    <td>
                      <a class="has-text-danger modal-toggler" data-target="deleteModalSchool_<%= school._id %>">
                        Excluir
                      </a>
                    </td>
                  </tr>

                  <%- include('../../partials/_delete-modal', { name: 'School' , _id: school._id, url:
                    `/admin/schools/${school._id}?_method=delete` }) %>
                    <% }) %>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </section>

  <%- include('../../layouts/footer') %>
