<%- include('../../layouts/admin-header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column is-four-fifths">
            <h1 class="title size-4">Setores</h1>
          </div>
          <div class="column is-one-fifth">
            <a href="/admin/sectors/new" class="button is-link">Novo Setor</a>
          </div>
        </div>
      </div>

      <div class="card-content">
        <%- include('../../partials/messages') %>
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% sectors.forEach(sector => { %>
              <tr>
                <td>
                  <%= sector.name %>
                </td>
                <td>
                  <a href="/admin/sectors/<%= sector._id %>/edit">Editar</a>
                </td>
                <td>
                  <a href="/admin/sectors/<%= sector._id %>?_method=delete" class="has-text-danger">Excluir</a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/admin-footer') %>
